@import './variables';

body{
    font-family: $primaryFont;
}
nav{
    padding: 15px 0;
}
.header__menu--white a{
    color: $primaryTxtColor !important;
}
.header__hamburger-button--black{
    // @extend .header__hamburger-button;
    background-color: white !important;

    div{
        background-color: black !important;
    }
}
#contact{
    background-color: $contactBg;
}
.contact__container{
    width: 90%;
    margin: auto;
}
.contact__headline{
    text-align: center;
    padding: 35px 0;
    h1{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    h3{
        // font-size: 16px;
        line-height: 24px;
    }
}

.contact__application-headline{
    h1{
        font-size: 24px;
        line-height: 30px;
        color: #212121;
        margin-bottom: 8px;
    }
    h3{
        line-height: 24px;
        color: #677480
    }
}

#contact__form{
    padding: 50px 0 65px;
    border-bottom: 1px solid gray;
    display: grid;
    gap: 50px;    
}
#contact__form-container{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;

    label{
        font-size: 20px;
        line-height: 25px;
        margin-right: 25px;
    }
    .div{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}

.div input, .div select{
    background-color: $contactBg;
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    // padding-bottom: 12px;
    outline: none;
    color: #FF8145;
    opacity: .4;
    font-size: 20px;
    
    &::placeholder{
        color: #FF8145;
    }
    &:focus{
        opacity: 1;
        color: $primaryTxtColor;
    }
    // &:autofill{
    //     color: $primaryTxtColor;
    // }
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.checkbox-container{
    display:flex;
    align-items: center;

    label{
        font-size: 16px !important;
        line-height: 20px !important;
        color: #354556;
    }
    #checkbox{    
        width: 24px;
        height: 24px;
        background-color: #FAF4E7;
    }
}

.contact__form-submit{
    @include buttonStyle(15px, 100px);
}

.contact__info{    
    text-align: center;
    padding: 40px 0;
    display: grid;
    gap: 55px;

    div{
        @include flexCenter;
        justify-content: center;
        gap: 25px;
        width: 50%;
        margin: auto;
    }
}
.contact__form-submit-container{
    position: relative;
}
.contact__confirmation-message{
    // display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 0;
    height: 100%;
    display: none;

    span{
        margin: 0 8px;
        opacity: .4;
        color: $primaryTxtColor;
    }
    a{
        text-decoration: none;
        color: $mainBlue;
        font-weight: bold;
    }
}

@media(min-width: 992px){
    #contact__form-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact__headline{
        width: 55%;
        margin: auto;
    }

    .contact__info{
        width: 55%;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        
        div{
            width: 100%;
        }
    }
    #contact__form-container .div{
        flex-direction: row;
    }
    .div input, .div select{
        width: 280px;
    }

    .contact__form-submit{
        width: 176px;
        padding: 15px 0;
    }
}