@import './variables';


header{
    min-height: 80vh;
    background-image: url('../assets/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: linear-gradient(30deg, black, blue);
}
nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px !important;
}
.header__brand-name{
    display: flex;
    color: $secondary;
}

.header__menu-container{
    display: flex;
    gap: 55px;
}
.header__menu{
    @include flexCenter;

    
    transition: .7s ease-out;

    width: 80%;
    height: 88vh;
    background-color: #FAF4E7;
    position: absolute;
    // display: none;
    top: -100%;
    left: 0;
    z-index: 55;

    .header__brand-name h1{
        color: $primaryTxtColor;
    }
    ul{
        @include flexCenter;
        gap: 40px;
    }
    ul a{
        text-decoration: none;
        font-family: $primaryFont;
        color: $primaryTxtColor;
        font-size: 18px;
    }
    .header__contact--wider{
        @include buttonStyle(15px, 60px)
    }
}

.header__menu--open{
    top: 0;
    left: 0;
    transition: 0.7s ease-in;
    z-index: 555;
}

.header__buttons{
    display: flex;
    align-items: center;
    gap: 10px;

    .header__contact{
        @include buttonStyle(10px, 30px);
    }    

    .header__hamburger-button{
        background-color: #0D1118;
        outline: none;
        border: none;
        cursor: pointer;
    }
    // .ham-line:first-child{ 
    //     border-color: white;
    //     border-width: 1px;
    //     border-top-left-radius: 10px;
    //     border-top-right-radius: 10px;
    // }
    .ham-line{
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 6px;
        border-radius: 5px;
    }
    // .ham-line:last-child{
    //     border-color: white;
    //     border-width: 1px;
    //     border-bottom-left-radius: 10px;
    //     border-bottom-right-radius: 10px;
    // }
}

.header__text{
    display: none;
    // margin: 150px auto;
    h1{
        font-family: $primaryFont;
        color: $secondary;
        font-size: 66px;
        // font-weight: bold;
        // margin: 0;
    }
    span{
        color: rgba(255, 166, 0, 0.788);
    }
}

.main__img{
    width: 100%;
    position: absolute;
    bottom: 8%;
    z-index: 99;
    display: flex;
    justify-content: center;
    img{
        width: 90%;
        height: auto;
    }
}

#home-main{
    position: relative;
    background-color: $mainBg;
    font-family: $primaryFont;
    
    .main__container{
        @include flexCenter;
        padding: 200px 0 60px 0;
        width: 85%;
        margin: auto;
        gap: 60px;
    }
}
.main__headline{
    text-align: center;
    margin: 0 10px;
    h3{
        color: $primaryBtn;
        font-size: 16px;
        line-height: 20px
    }
    h1{
        font-size: 24px;
        line-height: 30px;
    }
}
.main__cards{
    @include flexCenter;
    text-align: center;
    gap: 16px;
    margin-bottom: 50px;

    h1{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 16px;
    }
    p{
        font-size: 16px;
        line-height: 20px;
    }
}

.main__valued-brands{
    @include flexCenter;
    background-color: #ffffff;
    
    
   
}
.valuded-brands-container{
    width: 90%;
    margin: auto;
    padding: 55px 0;
    border-bottom: 1px solid gray;

    h1{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 55px;
    }
}
.main__brand-logos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    img{
        width: 100%;
        height: auto;
    }
}
.main__products{
    @include flexCenter;
    background-color: #ffffff;
}

.products-container{
    width: 90%;
    margin: auto;
    padding: 55px 0;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}
.main__products-headline{
    // margin: 0 15px;
    h3{
        font-size: 16px;
        line-height: 20px;
        color: $primaryBtn;
        margin-bottom: 5px;
    }
    h1{
        font-size: 24px;
        line-height: 30px;
        margin: 5px 15px 40px 15px;
    }
}


.main__product-poster--black{
    @include flexCenter;
}
.main__product-poster--black a{
    text-decoration: none;
    margin-top: 50px;
    color: #3878F2;

    img{
        width: auto;
        margin-left: 10px;
    }
}

.main__clients{
    background-color: #000;
    color: #fff;
    @include flexCenter;
    padding-top: 50px;
}

.main__clients-headline{
    h1{
        font-size: 24px;
        line-height: 30px;
    }
}
.main__client-cards-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 90%;
    margin: 50px auto;
    overflow: scroll; 
    &::-webkit-scrollbar{
        display: none;
    } 
}
.main__client-cards{
    border: 1px solid #343434;
    border-radius: 10px;
    padding: 30px 25px;
    width: 120px;

    h1{
        font-size: 24px;
        line-height: 24px;
    }
    h3{
        font-size: 16px;
        line-height: 20px;
        margin: 40px auto 95px auto;
    }
}


.main__stats-container{
    width: 90%;
    margin: auto;
    padding: 65px 0;
}

.main__stats-headline{
    text-align: center;
    margin-bottom: 70px;    

    h3{
        color: $primaryBtn;
        font-size: 16px;
        line-height: 20px;
    }
    h1{
        font-size: 24px;
        line-height: 30px;
    }
}
.main__stats-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    position: relative;
    width: 75%;
    margin: auto;
}
.main__stats-card{
    @include flexCenter;

    width: 100%;
    margin: auto;
    padding: 25px 0;;
    background-color: #fff;
    border-radius: 10px;
    z-index: 5;

    h1{
        font-size: 34px;
        line-height: 43px;
    }
    h3{
        font-size: 20px;
        line-height: 25px;
        color: #354556;
    }
    .line{
        width: 25%;
        height: 1px;
        background-color: #E6E8EA;
        margin: 16px 0;
    }
}
#yellow{
    position: absolute;
    right: -40px;
    top: -40px;
    z-index: 6;
}
#pink{
    position: absolute;
    top: 20px;
    right: -45px;
    // z-index: -1;
}
#green{
    position: absolute;
    bottom: -40px;
    left: -45px;
    z-index: 1;
}

// #main__sales-card{
//     position: relative;

//     #yellow{
//         position: absolute;
//         right: -40px;
//         top: -40px;
//     }
//     #pink{
//         position: absolute;
//         top: 20px;
//         right: -45px;
//         // z-index: -1;
//     }
// }
// #main__rating-card{
//     position: relative;

//     svg{
//         position: absolute;
//         bottom: -40px;
//         left: -45px;
//         z-index: 1;
//     }
// }
.main__how-we-do{
    background-color: $secondaryBg;
    color: $secondary;
}

.how-we-do-container{
    width: 90%;
    margin: auto;
    padding: 55px 0;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 50px;
}
.main__how-we-do-title{
    font-size: 26px;
    line-height: 30px;
    grid-column: 1/3;
}
// .main__quote-icons{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 65px 0 40px 0;
// }
#main__gr{
    display: flex;
    justify-self: flex-end;
}
.main__how-we-do-content{
    grid-column: 1/3;
}
.main__how-we-do-text{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.main__author{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
.main__author-text{
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #6E7581;
    
    h1 {
        font-size: 20px;
        line-height: 20px;
    }
    h3{
        font-size: 16px;
        line-height: 20px;
    }
}

.main__latest-blog{
    background-color: #ffffff;
}

.latest-blog-container{
    @include flexCenter;
    width: 90%;
    margin: auto;
    padding: 55px 0 70px 0;

    a{
        text-decoration: none;
        color: #3878F2;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.main__latest-blog-title{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 50px;
}

.main__latest-blog-card{
    margin-bottom: 50px;
}
.main__latest-blog-card-image{

    img{
        width: 100%;
        height: auto;
    }
}

.main__latest-blog-card-text{
    padding-top: 16px;
    h5{
        font-size: 15px;
        line-height: 18px;
        color: $primaryBtn;
    }
    h1{
        font-size: 22px;
        line-height: 24px;
        color: #27565E;
        margin: 16px auto;
    }
    h6{
        font-size: 13px;
        line-height: 15px;
        color: #8B8B8B;
    }
}

footer{
    @include flexCenter;
    
    background-color: #000;
    color: #6E7581;
    font-family: $primaryFont;
}

.footer__container{
    width: 90%;
    margin: auto;
    padding: 55px 0;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.footer__logo{
    // @include flexCenter;
    display: grid;
    justify-content: center;
}
.footer__menu{
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    ul a{
        text-decoration: none;
        color: #6E7581;
        font-size: 16px;
        line-height: 20px;
    }
    ul a:hover{
        color: $hoveredBtn;
        transition: all 0.4s ease-in-out;
    }
}

.footer__subscription{
    position: relative;
    h3{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
    }
    .footer__mail{
        // display: grid;
        // grid-template-columns: 3fr 1fr;
        display: flex;
        flex-direction: column;  
    }
    .footer__mail-container{
        display: flex;
    }
    .email{
        width: 230px;
        height: 42px;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-right: 5px;
    }
    .emailAlert{
        color: #F64E60;
        display: block;
        font-size: 12px;
        margin-top: 8px;
    }
    #subscribe{
        @include buttonStyle(14px, 13px);
        // height: 42px;
        border-radius: 10px;
    }
    .footer__confirmation-message{
        position: absolute;
        top: 18%;
        display: flex;
        align-items: center;
        gap: 8px;
        display: none;
    }
    .footer__contact-mail{
        display: flex;
        gap: 18px;

        margin-top: 26px;
    }
}

.footer__social-media{
    @include flexCenter;
    gap: 25px;

    
    a{
        text-decoration: none;
    }
    
}
.footer__social-media--desktop{
    @extend .footer__social-media;

    display: none;
}


@media(min-width:992px){
    header{
        display: grid;
        align-content: flex-start;
        min-height: 100vh;
    }
    nav{
        width: 85%;
        margin: auto;
    }
    .header__menu{
        position: static;
        background-color: unset;
        height: auto;
        width: auto;
        ul{
            flex-direction: row;
        }
        ul a{
            color: #fff;
            font-size: 16px;
            line-height: 20px;
        }
        ul a:hover{
            color: $hoveredBtn;
            transition: all 0.3s ease-in-out;
        }
        .header__brand-name, .header__contact--wider{
            display: none;
        }
    }
    
    .header__hamburger-button{
        display: none;
    }
    .header__text{
        display: unset;
        margin: 90px auto 60px;
        text-align: center;
        width: 63%;
    }

    .main__img{
        // width: 55%;    
        bottom: -30%;
        img{
            width: 65%;
        }
    }

    .main__container{
        flex-direction: row !important;
        align-items: unset !important;
        padding-top: 260px !important;
    }
    .main__headline{
        width: 60%;
        text-align: left;
        h1{
            font-weight: 600;
        }
    }

    .main__cards{
        flex-direction: row !important;
        align-items: unset !important;
        gap: 50px;
    }
    .main__card-text{
        text-align: left;
        margin-bottom: 48px;
        h1{
            margin-bottom: 24px;
        }
    }

    .main__brand-logos{
        grid-template-columns: repeat(6, 1fr);
    }

    .products-container{
        grid-template-columns: 1fr 1fr;
    }
    .products-container{
        img{
            width: 100%;
            height: auto;
        }
    }
    .main__client-cards-container{
        grid-template-columns: repeat(5, 1fr);

        .main__client-cards{
            width: 165px;
        }
    }

    .main__stats-cards{
        grid-template-columns: repeat(3, 1fr);

        #yellow{
            width: 141px;
            right: -100px;
        }
        #pink{
            width: 198px;
            right: -100px;
        }
        #green{
            width: 193px;
            left: -120px;
        }
        .main__stats-card{
            // padding: 60px 0;
            height: 240px;
            justify-content: center;
        }
    }
    .how-we-do-container{
        width: 80%;
        gap: unset;
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;

        
        .main__how-we-do-title{
            writing-mode: tb-rl;
            transform: rotate(-180deg);
            grid-row: 1/4;
        }
        #main__double-quote{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        #main__gr{
            margin-bottom: 40px;
            justify-self: flex-start;
        }
        .main__how-we-do-content{
            grid-column: 3/4;
            width: 80%;
        }
    }
    .main__blog-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .main__latest-blog-card-text{
        margin-left: 15px;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .footer__logo{
        gap: 35px;
        justify-content: start;
        grid-row: 1/2;
    }
    .footer__subscription, .footer__menu{
        grid-row: 1/3;
    }
    .footer__mail{
        display: flex;
        gap: 8px;
    }
    .footer__social-media{
        // display: none;
        align-items: start;
        .footer__icons{
            order: 2;
        }
        .footer__icons a{
            margin-right: 20px;
        }
    }
    // .footer__social-media--desktop{
    //     display: grid;
    //     gap: 35px;
        
    //     .footer__icons a{
    //         margin-right: 20px;
    //     }
    // }
}

@media(min-width: 1200px){
    .header__text{
        h1{
            font-size: 96px;
        }
    }
}