header {
  min-height: 100vh;
  background-image: url("../assets/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
}

.header__brand-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  width: 80%;
  height: 95vh;
  background-color: #FAF4E7;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 55;
}

.header__menu .header__brand-name h1 {
  color: #343434;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__menu ul a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: #343434;
  font-size: 18px;
}

.header__menu .header__contact--wider {
  padding: 15px 60px;
  border-radius: 30px;
  background-color: #43BA7F;
  outline: none;
  border: none;
  color: #ffffff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
}

.header__menu .header__contact--wider:hover {
  background-color: #56C18C;
}

.header__menu .header__contact--wider:active {
  background-color: #3CA772;
}

.header__menu .header__contact--wider:disabled {
  background-color: #CCD1D5;
}

.header__menu--open {
  top: 0;
  left: 0;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__buttons .header__contact {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #43BA7F;
  outline: none;
  border: none;
  color: #ffffff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
}

.header__buttons .header__contact:hover {
  background-color: #56C18C;
}

.header__buttons .header__contact:active {
  background-color: #3CA772;
}

.header__buttons .header__contact:disabled {
  background-color: #CCD1D5;
}

.header__buttons .header__hamburger-button {
  background-color: #0D1118;
  outline: none;
  border: none;
  cursor: pointer;
}

.header__text {
  display: none;
}

.header__text h1 {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 60px;
}

.header__text span {
  color: rgba(255, 166, 0, 0.788);
}

.main__img {
  width: 90%;
  position: absolute;
  top: -120px;
}

.main__img img {
  width: 100%;
  height: auto;
}

#home-main {
  position: relative;
  background-color: #FBF5F2;
  font-family: "Rubik", sans-serif;
}

#home-main .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0 60px 0;
  width: 85%;
  margin: auto;
  gap: 60px;
}

.main__headline {
  text-align: center;
  margin: 0 10px;
}

.main__headline h3 {
  color: #43BA7F;
  font-size: 16px;
  line-height: 20px;
}

.main__headline h1 {
  font-size: 24px;
  line-height: 30px;
}

.main__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 16px;
}

.main__cards h1 {
  font-size: 20px;
  line-height: 25px;
}

.main__cards p {
  font-size: 16px;
  line-height: 20px;
}

.main__valued-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.valuded-brands-container {
  width: 90%;
  margin: auto;
  padding: 55px 0;
  border-bottom: 1px solid gray;
}

.valuded-brands-container h1 {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 55px;
}

.main__brand-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.main__brand-logos img {
  width: 100%;
  height: auto;
}

.main__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.products-container {
  width: 90%;
  margin: auto;
  padding: 55px 0;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 40px;
}

.main__products-headline h3 {
  font-size: 16px;
  line-height: 20px;
  color: #43BA7F;
  margin-bottom: 5px;
}

.main__products-headline h1 {
  font-size: 24px;
  line-height: 30px;
  margin: 5px 15px 40px 15px;
}

.main__product-poster--black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__product-poster--black a {
  text-decoration: none;
  margin-top: 50px;
  color: #3878F2;
}

.main__product-poster--black a img {
  width: auto;
  margin-left: 10px;
}

.main__clients {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.main__clients-headline h1 {
  font-size: 24px;
  line-height: 30px;
}

.main__client-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 90%;
  margin: 50px auto;
}

.main__client-cards {
  border: 1px solid #343434;
  border-radius: 10px;
  padding: 30px 25px;
}

.main__client-cards h1 {
  font-size: 24px;
  line-height: 24px;
}

.main__client-cards h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 40px auto 95px auto;
}

.main__stats-container {
  width: 90%;
  margin: auto;
  padding: 65px 0;
}

.main__stats-headline {
  text-align: center;
  margin-bottom: 70px;
}

.main__stats-headline h3 {
  color: #43BA7F;
  font-size: 16px;
  line-height: 20px;
}

.main__stats-headline h1 {
  font-size: 24px;
  line-height: 30px;
}

.main__stats-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 25px;
}

.main__stats-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: auto;
  padding: 25px 0;
  background-color: #fff;
  border-radius: 10px;
}

.main__stats-card h1 {
  font-size: 34px;
  line-height: 43px;
}

.main__stats-card h3 {
  font-size: 20px;
  line-height: 25px;
  color: #354556;
}

.main__stats-card .line {
  width: 25%;
  height: 1px;
  background-color: #E6E8EA;
  margin: 16px 0;
}

#main__sales-card {
  position: relative;
}

#main__sales-card #orange-svg {
  position: absolute;
  top: -40px;
  right: -45px;
  z-index: 1;
}

#main__sales-card #pink-svg {
  position: absolute;
  top: 20px;
  right: -45px;
}

#main__rating-card {
  position: relative;
}

#main__rating-card svg {
  position: absolute;
  bottom: -40px;
  left: -45px;
  z-index: 1;
}

.main__how-we-do {
  background-color: #000;
  color: #ffffff;
}

.how-we-do-container {
  width: 90%;
  margin: auto;
  padding: 55px 0;
  text-align: center;
}

.main__how-we-do-title {
  font-size: 26px;
  line-height: 30px;
}

.main__quote-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 65px 0 40px 0;
}

.main__how-we-do-text {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.main__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.main__author-text {
  height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  color: #6E7581;
}

.main__author-text h1 {
  font-size: 20px;
  line-height: 20px;
}

.main__author-text h3 {
  font-size: 16px;
  line-height: 20px;
}

.main__latest-blog {
  background-color: #ffffff;
}

.latest-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 55px 0 70px 0;
}

.latest-blog-container a {
  text-decoration: none;
  color: #3878F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.main__latest-blog-title {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 50px;
}

.main__latest-blog-card {
  margin-bottom: 50px;
}

.main__latest-blog-card-image img {
  width: 100%;
  height: auto;
}

.main__latest-blog-card-text {
  padding-top: 16px;
}

.main__latest-blog-card-text h5 {
  font-size: 15px;
  line-height: 18px;
  color: #43BA7F;
}

.main__latest-blog-card-text h1 {
  font-size: 22px;
  line-height: 24px;
  color: #27565E;
  margin: 16px auto;
}

.main__latest-blog-card-text h6 {
  font-size: 13px;
  line-height: 15px;
  color: #8B8B8B;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #6E7581;
  font-family: "Rubik", sans-serif;
}

.footer__container {
  width: 90%;
  margin: auto;
  padding: 55px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 50px;
}

.footer__logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.footer__menu ul a {
  text-decoration: none;
  color: #6E7581;
  font-size: 16px;
  line-height: 20px;
}

.footer__subscription h3 {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
}

.footer__subscription #email {
  width: 230px;
  height: 42px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-right: 5px;
}

.footer__subscription #subscribe {
  padding: 14px 13px;
  border-radius: 30px;
  background-color: #43BA7F;
  outline: none;
  border: none;
  color: #ffffff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
  border-radius: 10px;
}

.footer__subscription #subscribe:hover {
  background-color: #56C18C;
}

.footer__subscription #subscribe:active {
  background-color: #3CA772;
}

.footer__subscription #subscribe:disabled {
  background-color: #CCD1D5;
}

.footer__subscription .footer__contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin-top: 26px;
}

.footer__social-media, .footer__social-media--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.footer__social-media a, .footer__social-media--desktop a {
  text-decoration: none;
}

.footer__social-media--desktop {
  display: none;
}

@media (min-width: 992px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  nav {
    width: 85%;
    margin: auto;
  }
  .header__menu {
    position: static;
    background-color: unset;
    height: auto;
    width: auto;
  }
  .header__menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__menu ul a {
    color: #fff;
  }
  .header__menu .header__brand-name, .header__menu .header__contact--wider {
    display: none;
  }
  .header__hamburger-button {
    display: none;
  }
  .header__text {
    display: unset;
    margin: 140px 200px 60px;
    text-align: center;
  }
  .main__img {
    width: 55%;
    height: auto;
    top: -5.5%;
  }
  .main__container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
    padding-top: 260px !important;
  }
  .main__headline {
    width: 60%;
    text-align: left;
  }
  .main__headline h1 {
    font-weight: 600;
  }
  .main__cards {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
    gap: 50px;
  }
  .main__card-text {
    text-align: left;
    margin-bottom: 48px;
  }
  .main__card-text h1 {
    margin-bottom: 24px;
  }
  .main__brand-logos {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .products-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .products-container img {
    width: 100%;
    height: auto;
  }
  .main__client-cards-container {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .main__stats-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .main__stats-cards .main__stats-card {
    height: 240px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__blog-card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .main__latest-blog-card-text {
    margin-left: 15px;
  }
  .footer__container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__logo {
    gap: 35px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
  .footer__social-media, .footer__social-media--desktop {
    display: none;
  }
  .footer__social-media--desktop {
    display: -ms-grid;
    display: grid;
    gap: 35px;
  }
  .footer__social-media--desktop .footer__icons a {
    margin-right: 20px;
  }
}

body {
  font-family: "Rubik", sans-serif;
}

#contact {
  background-color: #FAF4E7;
}

.contact__container {
  width: 90%;
  margin: auto;
}

.contact__headline {
  text-align: center;
  padding: 35px 0;
}

.contact__headline h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contact__headline h3 {
  line-height: 24px;
}

.contact__application-headline h1 {
  font-size: 24px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 8px;
}

.contact__application-headline h3 {
  line-height: 24px;
  color: #677480;
}

#contact__form {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 50px 0 65px;
  border-bottom: 1px solid gray;
}

#contact__form label {
  font-size: 20px;
  line-height: 25px;
}

#contact__form input {
  background-color: #FAF4E7;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  padding-bottom: 12px;
  outline: none;
}

#contact__form input::-webkit-input-placeholder {
  color: #FF8145;
  opacity: .4;
}

#contact__form input:-ms-input-placeholder {
  color: #FF8145;
  opacity: .4;
}

#contact__form input::-ms-input-placeholder {
  color: #FF8145;
  opacity: .4;
}

#contact__form input::placeholder {
  color: #FF8145;
  opacity: .4;
}

.checkbox-container label {
  font-size: 16px !important;
  line-height: 20px !important;
  color: #354556;
}

.contact__form-submit {
  padding: 15px 100px;
  border-radius: 30px;
  background-color: #43BA7F;
  outline: none;
  border: none;
  color: #ffffff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
}

.contact__form-submit:hover {
  background-color: #56C18C;
}

.contact__form-submit:active {
  background-color: #3CA772;
}

.contact__form-submit:disabled {
  background-color: #CCD1D5;
}

.contact__info {
  text-align: center;
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  gap: 55px;
}

.contact__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  width: 50%;
  margin: auto;
}

@media (min-width: 992px) {
  #contact__form {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact__headline {
    width: 55%;
    margin: auto;
  }
  .contact__info {
    width: 55%;
    margin: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .contact__info div {
    width: 100%;
  }
}

#blog-content {
  font-family: "Rubik", sans-serif;
  color: #343434;
}

#blog-content__main-image {
  width: 100%;
}

.blog-content__headline {
  text-align: center;
  width: 95%;
  margin: 40px auto;
}

.blog-content__headline h1 {
  font-size: 20px;
  line-height: 28px;
  color: #212121;
  margin: 16px 0;
  font-weight: 600;
}

.blog-content__headline h4 {
  font-size: 12px;
  line-height: 16px;
  color: #8B8B8B;
}

.blog-content__blog-text {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  padding: 30px 0 70px;
}

.blog-content__blog-text h1 {
  color: #43BA7F;
  font-size: 20px;
  line-height: 25px;
}

.blog-content__blog-text p {
  font-size: 16px;
  line-height: 24px;
}

.blog-content__similar-blogs {
  border-top: 1px solid #E6E8EA;
}

@media (min-width: 992px) {
  #blog-content__main-image {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .blog-content__blog-text {
    width: 55%;
  }
  .blog-content__blog-text img {
    width: 100%;
  }
  .blog-content__headline {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */